body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure full height for background */
}

.logs-container {
    background-color: #1A202C;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}


.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: #2D3748;
}

.table thead th {
    background-color: #2e7d8b;
    color: white;
}

.table td, .table th {
    color: #0b4edf;
    border-color: #374151;
    background-color: transparent;
}