    body {
        background-color: #1f1f1f;
    }

    .sidebar {
        background-color: #011213;
        border-radius: 6px;
    }

    .sidebar .menu-label,
    .sidebar .menu-list a {
        color: white !important;
    }

    .sidebar .menu-list a:hover {
        background-color: #1e82b1;
        color: white !important;
    }

    .card-container {
        background-color: #2c2c2c;
        border-radius: 8px;
        padding: 1.5rem;
    }

    .topbar {
        background-color: #e4e4e471;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
    }

    .topbar .user {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .image-upload {
        font-size: 3rem;
        color: white;
        cursor: pointer;
        margin-bottom: 1rem;
    }

    .dropdown.is-hoverable .dropdown-menu {
    display: none; 
    }

    .dropdown.is-hoverable:hover .dropdown-menu {
    display: block; 
    }